.body{
    margin: 0;
    padding: 0;
}
.isi{
    padding: 20px;
    border-left: 4px rgba(221, 201, 201, 0.712) solid;
    border-right: 4px rgba(221, 201, 201, 0.712) solid;
}
.judul{
    border-bottom: 4px rgba(221, 201, 201, 0.712) solid;
    margin-bottom: 12px;
}
img{
    width:100%;
    height: 100%;
}
.row{
    margin-bottom: 5px;
}
.footer{
    padding: 5px;
    color: white;
    text-align: center;
}